.#{$prefix}navbar {
  $default-height: 50px;

  padding-top: $default-height;

  @include element(body) {
    background: $gray-dark;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: $default-height;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    z-index: 9999;
  }

  @include element(side-actions) {
    display: flex;
    justify-content: flex-end;
    flex: 2;
  }

  @include element(action-buttons) {
    background: $white;
    border-bottom: 1px solid $light-gray;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
}
