.#{$prefix}button {
  $default-color: #dddddd;
  $default-hover-color: darken($default-color, 10);

  background: $default-color;
  font-size: 1rem;
  font-weight: normal;
  color: $gray-dark;
  border: 1px solid $default-color;
  display: flex;
  padding: 0 20px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    background: $default-hover-color;
    border-color: $default-hover-color;
  }

  @include modifier(is-primary) {
    background: $gray-dark;
    color: $white;
    border-color: $gray-dark;

    &:hover {
      background: $gray-dark2;
      border-color: $gray-dark2;
    }
  }

  @include modifier(is-secondary) {
    background: $white;
    color: $gray-dark;
    border-color: $gray-dark2;

    &:hover {
      background: $gray-dark2;
      border-color: $gray-dark2;
      color: $white;
    }
  }

  @include modifier(is-highlighted) {
    font-weight: bold;
  }

  @include modifier(is-block) {
    width: 100%;
  }

  @include modifier(is-small) {
    padding: 0 5px;
    font-size: .8rem;

    & .#{$prefix}button__icon {
      font-size: 14px;
    }
  }

  @include element(icon) {
    font-size: 20px;
    margin-right: 5px;
    color: currentColor;

    @include modifier(no-margin) {
      margin: 0;
    }
  }

  &:focus {
    outline: none;
  }
}
